# Path to the config storage dir (git working tree)
repo="/var/lib/config"

# Email address for notifications to go to
notification_emails="foo@example.com"

# Email prefix to aid filtering
notification_emails_prefix="[config tracker]"

# Bash regex pattern of any files for which the notification email should be
# suppressed.
notification_emails_filter="/path/to/regularly/changed/file"

# Bash regex pattern of any files for which diffs should be suppressed in the
# notification emails.
notification_emails_sensitive="(shadow|htpasswd|.key|.pem|.crt)"

# Notification emails greater than this number of lines will be truncated
notification_emails_maxlines=2000

# Path to include/exclude files
include_file="${0%/*}/include.conf"
exclude_file="${0%/*}/exclude.conf"

# Root directory for includes/excludes
working_root="/"
